@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

* {
  font-family: "Play", sans-serif;
}

ul {
  display: grid;
  grid-gap: 10px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

a {
  display: block;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  color: #272727;
  text-transform: uppercase;
  font-size: 20px;
}

#title {
  text-align: center;
  font-size: 60px;
  letter-spacing: 11px;
}

#adidas {
  background: rgb(49, 49, 49);
  color: red;
  border: 2px solid red;
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: 800;
}

#nike {
  background: red;
  color: rgb(49, 49, 49);
  border: 2px solid rgb(49, 49, 49);
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: 800;
}

#reebok {
  background: rgb(49, 49, 49);
  color: red;
  border: 2px solid red;
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: 800;
}

#naruci {
  background: red;
  color: rgb(49, 49, 49);
  border: 2px solid rgb(49, 49, 49);
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: 800;
}

body {
  background-image: linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.65),
      rgba(49, 49, 49, 0.75)
    ),
    url(Images/webpage-bg.jpg);
  background-size: cover;
  z-index: -1;
  background-attachment: fixed;
  height: 100vh;
  background-position: right bottom;
}

.onama {
  text-align: center;
}

#onama {
  margin-top: 75px;
  margin-left: 10px;
  margin-bottom: 35px;
  background: rgb(49, 49, 49);
  color: red;
  border: 2px solid red;
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: 600;
  padding: 3px;
  display: inline-block;
  width: 145px;
}

.loremipsum {
  color: white;
  line-height: 22px;
  border: 5px solid;
  border-left-color: rgb(49, 49, 49);
  border-top-color: rgb(49, 49, 49);
  border-right-color: red;
  border-bottom-color: red;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
}

.order {
  display: inline-flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

::placeholder {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

#customer-name {
  margin-bottom: 5px;
  border: 0px;
  border-bottom: 3px solid rgb(49, 49, 49);
  padding: 8px 0;
  background-color: inherit;
  width: 280px;
  color: white;
}

#customer-last-name {
  margin-bottom: 5px;
  border: 0px;
  border-bottom: 3px solid rgb(49, 49, 49);
  padding: 8px 0;
  background-color: inherit;
  width: 280px;
  color: white;
}

#customer-email {
  margin-bottom: 5px;
  border: 0px;
  border-bottom: 3px solid rgb(49, 49, 49);
  padding: 8px 0;
  background-color: inherit;
  width: 280px;
  color: white;
}

#customer-address {
  margin-bottom: 5px;
  border: 0px;
  border-bottom: 3px solid rgb(49, 49, 49);
  padding: 8px 0;
  background-color: inherit;
  width: 280px;
  color: white;
}

#shoe-model {
  margin-bottom: 5px;
  border: 0px;
  border-bottom: 3px solid rgb(49, 49, 49);
  padding: 8px 0;
  background-color: inherit;
  width: 280px;
  color: white;
  text-align-last: center;
  text-transform: uppercase;
}

#shoe-size {
  margin-bottom: 5px;
  border: 0px;
  border-bottom: 3px solid rgb(49, 49, 49);
  padding: 8px 0;
  background-color: inherit;
  width: 280px;
  color: white;
  text-align-last: center;
  text-transform: uppercase;
}

#submit-button {
  margin-top: 35px;
  margin-left: 10px;
  margin-bottom: 35px;
  background: rgb(49, 49, 49);
  color: red;
  border: 2px solid red;
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: 600;
  padding: 3px;
  display: inline-block;
  width: 145px;
  text-align: center;
}

.form-title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin-top: 42px;
  margin-bottom: 42px;
  margin-left: auto;
  margin-right: auto;
  background: rgb(49, 49, 49);
  color: red;
  border: 2px solid red;
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: 600;
  padding: 3px;
  display: inline-block;
  width: 145px;
}

.form-div {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

option {
  text-transform: uppercase;
  background-color: rgb(49, 49, 49);
}
